In [35]:
import pandas as pd
import numpy as np
from functools import reduce
from itertools import compress

In [36]:
# Load the dataset
orig_data_file = r"/content/sample_data/climate_change_download_0.xls"
data_sheet = "Data"
data_orig = pd.read_excel(io=orig_data_file, sheet_name=data_sheet)

In [37]:
print("Shape of the original dataset:")
print(data_orig.shape)

Shape of the original dataset:
(13512, 28)

In [38]:
print("Available columns:")
print(data_orig.columns)

Available columns:
Index(['Country code', 'Country name',  'Series code',  'Series name',
              'SCALE',     'Decimals',           1990,           1991,
                 1992,           1993,           1994,           1995,
                 1996,           1997,           1998,           1999,
                 2000,           2001,           2002,           2003,
                 2004,           2005,           2006,           2007,
                 2008,           2009,           2010,           2011],
      dtype='object')

In [39]:
print("Column data types:")
print(data_orig.dtypes)

Column data types:
Country code    object
Country name    object
Series code     object
Series name     object
SCALE           object
Decimals        object
1990            object
1991            object
1992            object
1993            object
1994            object
1995            object
1996            object
1997            object
1998            object
1999            object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
dtype: object

In [40]:
print("Overview of the first 5 rows:")
print(data_orig.head())

Overview of the first 5 rows:
  Country code Country name     Series code  \
0          ABW        Aruba  AG.LND.EL5M.ZS
1          ADO      Andorra  AG.LND.EL5M.ZS
2          AFG  Afghanistan  AG.LND.EL5M.ZS
3          AGO       Angola  AG.LND.EL5M.ZS
4          ALB      Albania  AG.LND.EL5M.ZS

                           Series name SCALE Decimals      1990 1991 1992  \
0  Land area below 5m (% of land area)     0        1  29.57481   ..   ..
1  Land area below 5m (% of land area)     0        1         0   ..   ..
2  Land area below 5m (% of land area)     0        1         0   ..   ..
3  Land area below 5m (% of land area)     0        1  0.208235   ..   ..
4  Land area below 5m (% of land area)     0        1  4.967875   ..   ..

  1993  ... 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
0   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
1   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
2   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
3   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
4   ..  ...   ..   ..   ..   ..   ..   ..   ..   ..   ..   ..

[5 rows x 28 columns]

In [41]:
print("Descriptive statistics of the columns:")
print(data_orig.describe())

Descriptive statistics of the columns:
       Country code Country name     Series code  \
count         13512        13512           13512
unique          233          233              58
top             ABW        Aruba  AG.LND.EL5M.ZS
freq             58           58             233

                                Series name  SCALE  Decimals   1990   1991  \
count                                 13512  13512     13512  10017  10017
unique                                   58      2         3   4355   3398
top     Land area below 5m (% of land area)      0         1     ..     ..
freq                                    233  10017      5823   5163   6520

         1992   1993  ...   2002   2003   2004   2005   2006   2007   2008  \
count   10017  10017  ...  10017  10017  10017  10017  10017  10017  10017
unique   3523   3583  ...   3877   3869   4007   4484   4008   4047   4080
top        ..     ..  ...     ..     ..     ..     ..     ..     ..     ..
freq     6364   6300  ...   5960   5974   5792   4933   5781   5769   5414

         2009   2010   2011
count   10017  10017  12382
unique   3506   2164   1434
top        ..     ..     ..
freq     6256   7685  10244

[4 rows x 28 columns]

In [42]:
print(data_orig['Series name'].unique())

['Land area below 5m (% of land area)'
 'Agricultural land under irrigation (% of total ag. land)'
 'Cereal yield (kg per hectare)'
 'Foreign direct investment, net inflows (% of GDP)'
 'Access to electricity (% of total population)'
 'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)'
 'Energy use per capita (kilograms of oil equivalent)'
 'CO2 emissions, total (KtCO2)' 'CO2 emissions per capita (metric tons)'
 'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)'
 'Other GHG emissions, total (KtCO2e)'
 'Methane (CH4) emissions, total (KtCO2e)'
 'Nitrous oxide (N2O) emissions, total (KtCO2e)'
 'Annex-I emissions reduction target'
 'Disaster risk reduction progress score (1-5 scale; 5=best)'
 'GHG net emissions/removals by LUCF (MtCO2e)'
 'Hosted Clean Development Mechanism (CDM) projects'
 'Hosted Joint Implementation (JI) projects'
 'Average annual precipitation (1961-1990, mm)'
 'Issued Certified Emission Reductions (CERs) from CDM (thousands)'
 'Issued Emission Reduction Units (ERUs) from JI (thousands)'
 'Droughts, floods, extreme temps (% pop. avg. 1990-2009)'
 'Average daily min/max temperature (1961-1990, Celsius)'
 'NAMA submission' 'NAPA submission'
 'Latest UNFCCC national communication'
 'Projected annual temperature change (2045-2065, Celsius)'
 'Projected change in annual cool days/cold nights'
 'Projected change in annual hot days/warm nights'
 'Projected annual precipitation change (2045-2065, mm)'
 'Renewable energy target' 'Population below 5m (% of total)'
 'Population in urban agglomerations >1million (%)'
 'Annual freshwater withdrawals (% of internal resources)'
 'Nationally terrestrial protected areas (% of total land area)'
 'Ease of doing business (ranking 1-183; 1=best)'
 'Invest. in energy w/ private participation ($)'
 'Invest. in telecoms w/ private participation ($)'
 'Invest. in transport w/ private participation ($)'
 'Invest. in water/sanit. w/ private participation ($)'
 'Public sector mgmt & institutions avg. (1-6 scale; 6=best)'
 'Paved roads (% of total roads)' 'GDP ($)' 'GNI per capita (Atlas $)'
 'Ratio of girls to boys in primary & secondary school (%)'
 'Primary completion rate, total (% of relevant age group)'
 'Under-five mortality rate (per 1,000)'
 'Access to improved water source (% of total pop.)'
 'Nurses and midwives (per 1,000 people)' 'Physicians (per 1,000 people)'
 'Malaria incidence rate (per 100,000 people)'
 'Access to improved sanitation (% of total pop.)'
 'Child malnutrition, underweight (% of under age 5)'
 'Population living below $1.25 a day (% of total)'
 'Population growth (annual %)' 'Population'
 'Urban population growth (annual %)' 'Urban population']

In [43]:
print(data_orig['Series code'].unique())

['AG.LND.EL5M.ZS' 'AG.LND.IRIG.AG.ZS' 'AG.YLD.CREL.KG'
 'BX.KLT.DINV.WD.GD.ZS' 'EG.ELC.ACCS.ZS' 'EG.USE.COMM.GD.PP.KD'
 'EG.USE.PCAP.KG.OE' 'EN.ATM.CO2E.KT' 'EN.ATM.CO2E.PC'
 'EN.ATM.CO2E.PP.GD.KD' 'EN.ATM.GHGO.KT.CE' 'EN.ATM.METH.KT.CE'
 'EN.ATM.NOXE.KT.CE' 'EN.CLC.AERT' 'EN.CLC.DRSK.XQ' 'EN.CLC.GHGR.MT.CE'
 'EN.CLC.HCDM' 'EN.CLC.HJIP' 'EN.CLC.HPPT.MM' 'EN.CLC.ICER' 'EN.CLC.IERU'
 'EN.CLC.MDAT.ZS' 'EN.CLC.MMDT.C' 'EN.CLC.NAMA' 'EN.CLC.NAPA'
 'EN.CLC.NCOM' 'EN.CLC.PCAT.C' 'EN.CLC.PCCC' 'EN.CLC.PCHW'
 'EN.CLC.PCPT.MM' 'EN.CLC.RNET' 'EN.POP.EL5M.ZS' 'EN.URB.MCTY.TL.ZS'
 'ER.H2O.FWTL.ZS' 'ER.LND.PTLD.ZS' 'IC.BUS.EASE.XQ' 'IE.PPI.ENGY.CD'
 'IE.PPI.TELE.CD' 'IE.PPI.TRAN.CD' 'IE.PPI.WATR.CD' 'IQ.CPA.PUBS.XQ'
 'IS.ROD.PAVE.ZS' 'NY.GDP.MKTP.CD' 'NY.GNP.PCAP.CD' 'SE.ENR.PRSC.FM.ZS'
 'SE.PRM.CMPT.ZS' 'SH.DYN.MORT' 'SH.H2O.SAFE.ZS' 'SH.MED.NUMW.P3'
 'SH.MED.PHYS.ZS' 'SH.MLR.INCD' 'SH.STA.ACSN' 'SH.STA.MALN.ZS'
 'SI.POV.DDAY' 'SP.POP.GROW' 'SP.POP.TOTL' 'SP.URB.GROW' 'SP.URB.TOTL']

In [44]:
print(data_orig['SCALE'].unique())

[0 'Text']

In [45]:
print(data_orig['Decimals'].unique())

[1 0 'Text']

In [46]:
print(data_orig[data_orig['SCALE'] == 'Text'])

     Country code      Country name  Series code  \
3029          ABW             Aruba  EN.CLC.AERT
3030          ADO           Andorra  EN.CLC.AERT
3031          AFG       Afghanistan  EN.CLC.AERT
3032          AGO            Angola  EN.CLC.AERT
3033          ALB           Albania  EN.CLC.AERT
...           ...               ...          ...
7218          YEM       Yemen, Rep.  EN.CLC.RNET
7219          ZAF      South Africa  EN.CLC.RNET
7220          ZAR  Congo, Dem. Rep.  EN.CLC.RNET
7221          ZMB            Zambia  EN.CLC.RNET
7222          ZWE          Zimbabwe  EN.CLC.RNET

                             Series name SCALE Decimals 1990 1991 1992 1993  \
3029  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
3030  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
3031  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
3032  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
3033  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
...                                  ...   ...      ...  ...  ...  ...  ...
7218             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN
7219             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN
7220             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN
7221             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN
7222             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN

      ... 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
3029  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3030  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3031  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3032  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3033  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
7218  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   ..
7219  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  Yes
7220  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   ..
7221  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   ..
7222  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   ..

[3495 rows x 28 columns]

In [47]:
print(data_orig[data_orig['Decimals'] == 'Text'])

     Country code      Country name  Series code  \
3029          ABW             Aruba  EN.CLC.AERT
3030          ADO           Andorra  EN.CLC.AERT
3031          AFG       Afghanistan  EN.CLC.AERT
3032          AGO            Angola  EN.CLC.AERT
3033          ALB           Albania  EN.CLC.AERT
...           ...               ...          ...
7218          YEM       Yemen, Rep.  EN.CLC.RNET
7219          ZAF      South Africa  EN.CLC.RNET
7220          ZAR  Congo, Dem. Rep.  EN.CLC.RNET
7221          ZMB            Zambia  EN.CLC.RNET
7222          ZWE          Zimbabwe  EN.CLC.RNET

                             Series name SCALE Decimals 1990 1991 1992 1993  \
3029  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
3030  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
3031  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
3032  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
3033  Annex-I emissions reduction target  Text     Text  NaN  NaN  NaN  NaN
...                                  ...   ...      ...  ...  ...  ...  ...
7218             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN
7219             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN
7220             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN
7221             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN
7222             Renewable energy target  Text     Text  NaN  NaN  NaN  NaN

      ... 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
3029  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3030  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3031  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3032  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3033  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
7218  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   ..
7219  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  Yes
7220  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   ..
7221  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   ..
7222  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   ..

[3495 rows x 28 columns]

In [48]:
# Data cleaning begins
data_clean = data_orig.copy()
print("Original number of rows:")
print(data_clean.shape[0])

# Filter out text scale rows
data_clean = data_clean[data_clean['SCALE'] != 'Text']
print("Current number of rows:")
print(data_clean.shape[0])

Original number of rows:
13512
Current number of rows:
10017

In [49]:
print("Original number of columns:")
print(data_clean.shape[1])

# Drop irrelevant columns
drop_cols = ['Country name', 'Series code', 'SCALE', 'Decimals']
data_clean.drop(columns=drop_cols, inplace=True)
print("Current number of columns:")
print(data_clean.shape[1])

Original number of columns:
28
Current number of columns:
24

In [50]:
# Replace missing string indicators
data_clean.iloc[:, 2:] = data_clean.iloc[:, 2:].replace({'': np.nan, '..': np.nan})

/tmp/ipython-input-50-3373623498.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_clean.iloc[:, 2:] = data_clean.iloc[:, 2:].replace({'': np.nan, '..': np.nan})

In [20]:
# Convert numeric data while preserving text columns
data_clean2 = data_clean.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
print("Print the column data types after transformation:")
print(data_clean2.dtypes)

/tmp/ipython-input-20-3131153868.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_clean2 = data_clean.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
/tmp/ipython-input-20-3131153868.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data_clean2 = data_clean.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
/tmp/ipython-input-20-3131153868.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data_clean2 = data_clean.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
/tmp/ipython-input-20-3131153868.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data_clean2 = data_clean.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
/tmp/ipython-input-20-3131153868.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data_clean2 = data_clean.applymap(lambda x: pd.to_numeric(x, errors='ignore'))

Print the column data types after transformation:
Country code     object
Series name      object
1990            float64
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
dtype: object

In [21]:
# Rename Series name values to shorter identifiers
chosen_vars = {
    'Cereal yield (kg per hectare)': 'cereal_yield',
    'Foreign direct investment, net inflows (% of GDP)': 'fdi_perc_gdp',
    'Access to electricity (% of total population)': 'elec_access_perc',
    'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)': 'en_per_gdp',
    'Energy use per capita (kilograms of oil equivalent)': 'en_per_cap',
    'CO2 emissions, total (KtCO2)': 'co2_ttl',
    'CO2 emissions per capita (metric tons)': 'co2_per_cap',
    'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)': 'co2_per_gdp',
    'Other GHG emissions, total (KtCO2e)': 'other_ghg_ttl',
    'Methane (CH4) emissions, total (KtCO2e)': 'ch4_ttl',
    'Nitrous oxide (N2O) emissions, total (KtCO2e)': 'n2o_ttl',
    'Droughts, floods, extreme temps (% pop. avg. 1990-2009)': 'nat_emerg',
    'Population in urban agglomerations >1million (%)': 'pop_urb_aggl_perc',
    'Nationally terrestrial protected areas (% of total land area)': 'prot_area_perc',
    'GDP ($)': 'gdp',
    'GNI per capita (Atlas $)': 'gni_per_cap',
    'Under-five mortality rate (per 1,000)': 'under_5_mort_rate',
    'Population growth (annual %)': 'pop_growth_perc',
    'Population': 'pop',
    'Urban population growth (annual %)': 'urb_pop_growth_perc',
    'Urban population': 'urb_pop'
}

data_clean2['Series name'] = data_clean2['Series name'].replace(chosen_vars)

In [22]:
data_clean2.head()

,Country code,Series name,1990,1991,1992,1993,1994,1995,1996,1997,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Land area below 5m (% of land area),29.574810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADO,Land area below 5m (% of land area),0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Land area below 5m (% of land area),0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,Land area below 5m (% of land area),0.208235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALB,Land area below 5m (% of land area),4.967875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Melt and combine all variables
chosen_cols = list(chosen_vars.values())
frame_list = []

for variable in chosen_cols:
    frame = data_clean2[data_clean2['Series name'] == variable]
    melted = frame.melt(id_vars=['Country code', 'Series name'], var_name='year', value_name=variable)
    melted.drop(columns='Series name', inplace=True)
    melted.rename(columns={'Country code': 'country'}, inplace=True)
    frame_list.append(melted)

all_vars = reduce(lambda left, right: pd.merge(left, right, on=['country', 'year'], how='outer'), frame_list)
print(all_vars.head())

  country  year  cereal_yield  fdi_perc_gdp  elec_access_perc  en_per_gdp  \
0     ABW  1990           NaN           NaN               NaN         NaN
1     ABW  1991           NaN     21.185138               NaN         NaN
2     ABW  1992           NaN     -3.857809               NaN         NaN
3     ABW  1993           NaN     -1.655492               NaN         NaN
4     ABW  1994           NaN     -5.874439               NaN         NaN

   en_per_cap   co2_ttl  co2_per_cap  co2_per_gdp  ...  nat_emerg  \
0         NaN  1840.834    29.620641          NaN  ...        NaN
1         NaN  1928.842    29.838835          NaN  ...        NaN
2         NaN  1723.490    25.239288          NaN  ...        NaN
3         NaN  1771.161    24.405233          NaN  ...        NaN
4         NaN  1763.827    22.977867          NaN  ...        NaN

   pop_urb_aggl_perc  prot_area_perc           gdp  gni_per_cap  \
0                NaN        0.105547           NaN          NaN
1                NaN        0.104930  8.720670e+08          NaN
2                NaN        0.104930  9.586592e+08          NaN
3                NaN        0.104930  1.083240e+09      14940.0
4                NaN        0.104930  1.245810e+09      15320.0

   under_5_mort_rate  pop_growth_perc      pop  urb_pop_growth_perc    urb_pop
0                NaN         1.820254  62147.0             1.780501  31259.941
1                NaN         3.936181  64642.0             3.337974  32321.000
2                NaN         5.484041  68286.0             4.882234  33938.142
3                NaN         6.088818  72573.0             5.483368  35851.062
4                NaN         5.611677  76762.0             5.002538  37690.142

[5 rows x 23 columns]

In [24]:
print("check the amount of missing values in each column")
print(all_vars.isnull().sum())

check the amount of missing values in each column
country                   0
year                      0
cereal_yield           1377
fdi_perc_gdp           1111
elec_access_perc       5027
en_per_gdp             2082
en_per_cap             1956
co2_ttl                1143
co2_per_cap            1146
co2_per_gdp            1557
other_ghg_ttl          4542
ch4_ttl                4526
n2o_ttl                4526
nat_emerg              4958
pop_urb_aggl_perc      2582
prot_area_perc          726
gdp                     779
gni_per_cap            1013
under_5_mort_rate       716
pop_growth_perc         278
pop                     252
urb_pop_growth_perc     490
urb_pop                 467
dtype: int64

In [25]:
# Analyze missing values by year
years_missing_sorted = (
    all_vars.groupby('year')
    .apply(lambda df: df.isnull().sum().sum())
    .sort_values()
    .to_dict()
)

print("missing values by year:")
for year, count in years_missing_sorted.items():
    print(f"{year} : {count}")

missing values by year:
2005 : 1189
2000 : 1273
1995 : 1317
1990 : 1427
2007 : 1631
2006 : 1633
2004 : 1646
2008 : 1708
2003 : 1714
2002 : 1715
2001 : 1718
1999 : 1729
1998 : 1739
1997 : 1746
1996 : 1756
1994 : 1781
1993 : 1792
1992 : 1810
1991 : 1921
2009 : 2078
2010 : 3038
2011 : 4893

/tmp/ipython-input-25-2343179644.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda df: df.isnull().sum().sum())

In [26]:
print("number of missing values in the whole dataset before filtering the years:")
print(all_vars.isnull().sum().sum())
print("number of rows before filtering the years:")
print(all_vars.shape[0])

# Keep only years 1991–2008
all_vars_clean = all_vars[(all_vars['year'] >= 1991) & (all_vars['year'] <= 2008)]

print("number of missing values after filtering the years:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows after filtering the years:")
print(all_vars_clean.shape[0])

number of missing values in the whole dataset before filtering the years:
41254
number of rows before filtering the years:
5126
number of missing values after filtering the years:
29818
number of rows after filtering the years:
4194

In [27]:
# Count missing values per country
country_missing = all_vars_clean.groupby('country').apply(lambda df: df.isnull().sum().sum()).sort_values()
print("missing values by country:")
for country, count in country_missing.items():
    print(f"{country} : {count}")

print("number of missing values before filtering the countries:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows before filtering the countries:")
print(all_vars_clean.shape[0])

missing values by country:
AGO : 81
ARG : 81
AUS : 81
AUT : 81
BOL : 81
BRA : 81
BGR : 81
BGD : 81
COL : 81
COG : 81
CIV : 81
CMR : 81
CHN : 81
CHL : 81
CHE : 81
CAN : 81
DEU : 81
DNK : 81
DOM : 81
EGY : 81
EMU : 81
ESP : 81
ECU : 81
CRI : 81
GTM : 81
HND : 81
HUN : 81
IDN : 81
GHA : 81
GBR : 81
FRA : 81
FIN : 81
ITA : 81
ISR : 81
JPN : 81
JOR : 81
KOR : 81
KEN : 81
IND : 81
IRL : 81
LMC : 81
LMY : 81
LAC : 81
SAU : 81
SAS : 81
SDN : 81
SLV : 81
SEN : 81
NZL : 81
PAK : 81
PER : 81
PAN : 81
PHL : 81
PRY : 81
PRT : 81
ROM : 81
MOZ : 81
MYS : 81
NLD : 81
NGA : 81
MIC : 81
MNA : 81
MEX : 81
MAR : 81
SWE : 81
THA : 81
TGO : 81
SYR : 81
VNM : 81
URY : 81
TZA : 81
TUR : 81
USA : 81
UMC : 81
VEN : 81
ZMB : 81
ZAF : 81
ZAR : 82
YEM : 82
GRC : 82
POL : 82
DZA : 84
WLD : 84
SSA : 84
ETH : 84
LIC : 84
ECA : 85
ARE : 85
RUS : 86
UKR : 86
BLR : 87
ARM : 87
UZB : 87
KAZ : 88
IRN : 89
CZE : 89
BEL : 90
AZE : 91
GEO : 92
LBN : 92
HTI : 94
NIC : 96
MLT : 99
TTO : 99
JAM : 99
LKA : 99
GAB : 99
BEN : 99
KHM : 99
BWA : 99
SGP : 99
OMN : 99
MNG : 99
NOR : 99
TUN : 99
HIC : 99
CYP : 99
ALB : 100
EAP : 102
NPL : 103
NAM : 104
LVA : 104
EST : 104
MDA : 105
SVN : 105
TJK : 105
HRV : 105
KGZ : 106
LTU : 106
TKM : 107
SVK : 107
MKD : 107
LUX : 108
LBY : 108
BRN : 109
KWT : 113
ISL : 117
CUB : 117
ZWE : 117
BHR : 117
ERI : 121
IRQ : 122
BIH : 123
HKG : 124
MLI : 126
GIN : 126
BFA : 126
MDG : 126
UGA : 126
NER : 126
QAT : 135
SWZ : 136
BHS : 136
MUS : 136
VCT : 136
VUT : 136
GUY : 136
BLZ : 136
ATG : 136
BRB : 136
COM : 136
CPV : 136
DMA : 136
GRD : 136
GNB : 136
FJI : 136
SLB : 137
SUR : 137
DJI : 137
GMB : 141
TCD : 144
SLE : 144
MRT : 144
MWI : 144
PNG : 144
RWA : 144
CAF : 144
BDI : 144
LAO : 144
BTN : 148
LBR : 149
SID : 152
GNQ : 154
KNA : 154
LCA : 154
WSM : 154
TON : 154
SYC : 154
KIR : 156
SRB : 158
MDV : 164
PLW : 166
AFG : 170
MMR : 171
PRK : 171
FSM : 184
MHL : 184
LSO : 190
STP : 198
MAC : 198
TMP : 202
NCL : 204
ADO : 206
SOM : 206
WBG : 207
GRL : 216
ABW : 226
BMU : 226
PRI : 230
MNE : 231
PYF : 232
LIE : 234
MCO : 234
CYM : 250
FRO : 259
GIB : 261
NIU : 270
COK : 270
GUM : 270
SMR : 270
TUV : 272
IMY : 282
VIR : 285
ASM : 288
NRU : 288
MNP : 288
CHI : 288
TCA : 296
MYT : 324
KSV : 325
MAF : 342
CUW : 357
SXM : 357
number of missing values before filtering the countries:
29818
number of rows before filtering the countries:
4194

/tmp/ipython-input-27-3024973126.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  country_missing = all_vars_clean.groupby('country').apply(lambda df: df.isnull().sum().sum()).sort_values()

In [28]:
# Keep countries with < 90 missing values
countries_filter = country_missing[country_missing < 90].index
all_vars_clean = all_vars_clean[all_vars_clean['country'].isin(countries_filter)]

print("number of missing values after filtering the countries:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows after filtering the countries:")
print(all_vars_clean.shape[0])

number of missing values after filtering the countries:
7854
number of rows after filtering the countries:
1728

In [29]:
# Drop features with > 20 missing values
vars_to_drop = all_vars_clean.columns[all_vars_clean.isnull().sum() > 20]
all_vars_clean2 = all_vars_clean.drop(columns=vars_to_drop)

print("Remaining missing values per column:")
print(all_vars_clean2.isnull().sum())

Remaining missing values per column:
country                 0
year                    0
cereal_yield           10
fdi_perc_gdp           17
en_per_gdp              0
en_per_cap              0
co2_ttl                 9
co2_per_cap             9
co2_per_gdp             9
pop_urb_aggl_perc       0
prot_area_perc          0
gdp                     2
gni_per_cap            16
under_5_mort_rate       0
pop_growth_perc         0
pop                     0
urb_pop_growth_perc     0
urb_pop                 0
dtype: int64

In [30]:
# Drop any rows with remaining NaNs
all_vars_clean3 = all_vars_clean2.dropna()

In [31]:
print("Remaining missing values per column:")
print(all_vars_clean3.isnull().sum())

Remaining missing values per column:
country                0
year                   0
cereal_yield           0
fdi_perc_gdp           0
en_per_gdp             0
en_per_cap             0
co2_ttl                0
co2_per_cap            0
co2_per_gdp            0
pop_urb_aggl_perc      0
prot_area_perc         0
gdp                    0
gni_per_cap            0
under_5_mort_rate      0
pop_growth_perc        0
pop                    0
urb_pop_growth_perc    0
urb_pop                0
dtype: int64

In [32]:
print("Final shape of the cleaned dataset:")
print(all_vars_clean3.shape)

Final shape of the cleaned dataset:
(1700, 18)

In [33]:
# Save to CSV
all_vars_clean3.to_csv('data_cleaned1.csv', index=False)